#dash {
    .empty_box {
        background: #fff;
        padding: 20px 0;
        text-align: center;

        .tips {
            text-align: center;
            padding: 20px 0;
        }
    }

    .project_logo {
        width: 40px;
        margin: 5px;
    }
    .btn_add {
        margin: 10px 0;
    }
}

.foot {
    padding: 5px 0;
    text-align: right;
}

#page_detail {
    .small {
        width: 400px;
    }
    .contents {
        border: solid 1px #333;
    }
    .upload_img {
        max-width: 400px;
    }
}
